@import url(https://fonts.googleapis.com/css?family=Righteous);

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  }



h1 {
  display: inline-block;
  color: white;
  font-family: 'Righteous', serif;
  font-size: 2em; 
  margin: 10px 20px 0 20px;
  text-shadow: .03em .03em 0 hsla(230,40%,50%,1);
  }


    

