
body {
    background-color: rgb(203, 218, 255);
    color: rgb(46, 46, 46);
  }

input {
  height: 40px;
  width: 200px;
  }

table {
    width: 80%;
  }
table.center {
    margin-top: 10px;
    margin-left:auto; 
    margin-right:auto;
  }
.iframe {
    margin-top: 10px;
    margin-left:auto; 
    margin-right:auto;
    width: 90%;
    height: 800px;
  }
.adam{
  margin: 10px 10px 5px 10px;
}
.adamclassszukajka{
  margin: 10px 10px 5px 100%;
}
.newpng{
  /* border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px; */
  width: 30px;
}

tr.topka {
  background-color: rgb(25, 82, 206);
  color: rgb(203, 218, 255);
  
}
td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  font-size: 0.8rem;
  }
  /* unvisited link */
  a:link {
    color: rgb(46, 46, 46);
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: rgb(46, 46, 46);
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
    text-decoration: underline;
  }
  
  /* selected link */
  a:active {
    color: blue;
    text-decoration: underline;
  }
  .adamnavclass{
    background-color: rgb(25, 82, 206);
  }
  .lubienielubie{
    display: inline-flex;
    justify-content: center;
    width: 100%;
  }
  .lubienielubiech{
    margin: 0 5px 0 5px;
  }


  
  
  