body {
    background-color: rgb(203, 218, 255);
    color: rgb(46, 46, 46);}
.calosc {
    margin-left:auto; 
    margin-right:auto;
    width: 100%;

}
.top {
    background-color: rgb(25, 82, 206);
    color: rgb(203, 218, 255);
    margin-left:auto; 
    margin-right:auto;

    display: flex;
    /* display: inline; */
}
.mid {
    margin-left:auto; 
    margin-right:auto;

    display: flex;
    /* display: inline; */
}
.bottom {
    background-color: rgb(25, 82, 206);
    color: rgb(203, 218, 255);
    margin-left:auto; 
    margin-right: 1rem;

    display: flex;
    width: 100%;
    /* display: inline; */
}
.menu1 {

    float: left;
    width: 20%;
    margin-left:auto; 
    margin-right:auto;
    border: 1px solid;
}
.menu2 {

    float: left;
    width: 80%;
    margin-left:auto; 
    margin-right:auto;
   
}
.top1 {

    float: left;
    width: 80%;
    display: flex;
    margin-left:auto; 
    margin-right:auto;

}
.top2 {

    float: left;
    display: flex;
    width: 20%;
    margin-left:auto; 
    margin-right:auto;

}
.mid1 {

    float: left;
    width: 100%;
    margin-left:auto; 
    margin-right:auto;
    margin-bottom: 1rem;

}
.bottom1 {
    text-align: right;
    width: 100%;
    margin-right: 1rem;

}