<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/nauka.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/moj.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/dang.css') }}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/moje.js') }}"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body background="">

  <div class='calosc'>
        
    <div class='top'>
        <div class='top1'>
                
                  
                    <h1 data-shadow='dang!'>szukajkaOfert</h1>
                  
                  
                    <form action="{{ url_for('lubie') }}" method="post">
                      <button type="submit" value="Submit" class="btn btn-primary adam">wybrane</button>
                    </form>
                  
                  
                    <form action="{{ url_for('nie_lubie') }}" method="post">
                      <button type="submit" value="Submit" class="btn btn-primary adam">odrzucone</button>
                    </form>
                  
                  
                    <form action="{{ url_for('index') }}">
                      <button type="submit" value="Submit" class="btn btn-primary adam">wszystkie</button>
                    </form>
                    <form action="{{ url_for('expired') }}">
                      <button type="submit" value="Submit" class="btn btn-primary adam">wygasłe</button>
                    </form>
                  
                      <input class="adam" id="search" type="text" placeholder="Szukaj">     
                      <input class="adam" id="tdsearch" type="text" placeholder="Cena mniejsza od...">     
        </div>
        <div class='top2'>
            <a href="http://szukajka.banzai.org.pl"><button type="button" class="btn btn-primary adam">czytaj oferty</button></a>
          
          
            <form action="{{ url_for('send') }}" method="post">
              <a href="http://szukajka.banzai.org.pl"><button type="submit" value="Submit" class="btn btn-primary adam">sprawdz oferty</button></a>
            </form>
        </div>

    </div>
    {% block body %}{% endblock %}
    
    <div class='bottom'>
        <div class='bottom1'>
          ostatnie wyszukiwanie {{sd}} | {{ v3 }}
        </div>


    </div>
  </div>

 
    
</body>
</html>
    