{% extends 'base.html' %}


    {% block title %}szukajkaOfert{% endblock %}
    {% block body %}
    <div class='mid'>
        <div class='mid1'>
            
          <table class='center'>
            <tr class='topka'>
                <td>serwis</td>
                <td>miejscowość</td>
                <td>cena</td>
                <td>nagłówek</td>
                <td>id</td>
                <td>data dodania do szukajki</td>
                <td>status</td>
                <td>moj status</td>
                <td>akcja</td>
            </tr>
            {%for i in v1%}
            <tr >
                
                <td>
                  <form action="{{ url_for('iframe') }}" method="post" target="_blank" class='formclass'>                  
                    <input type ="hidden" name = "web" value="{{i[3]}}"/>
                    <input type ="hidden" name = "id" value="{{i[4]}}"/>
                    <button type="submit" class="btn btn-outline-success btn-sm" onclick="adam()">{{i[5]}}</button>
                  </form>
                </td>
                <td><a href={{i[3]}} target="_blank">{{i[2]}}</a></td>
                <td class="tdprice"><a href={{i[3]}} target="_blank">{{i[1]}} zł</a></td>
                <td><a href={{i[3]}} target="_blank">{{i[0]}}</a></td>
                <td><a href={{i[3]}} target="_blank">{{i[4]}}</a> </td>
                <td><a href={{i[3]}} target="_blank">{{i[6]}}</a> </td>
                <td><a href={{i[3]}} target="_blank">{{i[7]}}</a> </td>
                <td><a href={{i[3]}} target="_blank">{{i[8]}}</a></td>
                <td class='tdlubie' id='tdlubie'>
                  <div class='lubienielubie'>
                      <div class='lubie lubienielubiech'>
                          <form action="{{ url_for('wszystkie') }}" method="post">
                            <input type ="hidden" name = "likeornot" value="+"/>
                            <input type ="hidden" name = "id" value="{{i[4]}}"/>
                            <button type="submit" class="btn btn-outline-success btn-sm">lubie</button>
                          </form>
                        </div>
                        <div class='nielubie lubienielubiech'>
                          <form action="{{ url_for('wszystkie') }}" method="post">
                            <input type ="hidden" name = "likeornot" value="-"/>
                            <input type ="hidden" name = "id" value="{{i[4]}}"/>
                          <button type="submit" class="btn btn-outline-danger btn-sm">nie lubie</button>
                          </form>

                      </div>
                  </div>
                </td>
                   
            </tr>
            {%endfor%}
            
            <tr>
              <td colspan=9></td>
            </tr>
            {%for i in v2%}
            <tr >
              <td>
                <form action="{{ url_for('iframe') }}" method="post" target="_blank" class='formclass'>                  
                  <input type ="hidden" name = "web" value="{{i[3]}}"/>
                  <input type ="hidden" name = "id" value="{{i[4]}}"/>
                  <button type="submit" class="btn btn-outline-success btn-sm">{{i[5]}}</button>
                </form>
              </td>
                <td><a href={{i[3]}} target="_blank">{{i[2]}}</a></td>
                <td class="tdprice"><a href={{i[3]}} target="_blank">{{i[1]}} zł</a></td>
                <td><a href={{i[3]}} target="_blank">{{i[0]}}</a></td>
                <td><a href={{i[3]}} target="_blank">{{i[4]}}</a> </td>
                <td><a href={{i[3]}} target="_blank">{{i[6]}}</a> </td>
                <td><a href={{i[3]}} target="_blank">{{i[7]}}</a> </td>
                <td><a href={{i[3]}} target="_blank">{{i[8]}}</a> </td>
                <td class='tdlubie' id='tdlubie'>
                  <div class='lubienielubie'>
                      <div class='lubie lubienielubiech'>
                          <form action="{{ url_for('wszystkie') }}" method="post">
                            <input type ="hidden" name = "likeornot" value="+"/>
                            <input type ="hidden" name = "id" value="{{i[4]}}"/>
                            <button type="submit" class="btn btn-outline-success btn-sm">lubie</button>
                          </form>
                        </div>
                        <div class='nielubie lubienielubiech'>
                          <form action="{{ url_for('wszystkie') }}" method="post">
                            <input type ="hidden" name = "likeornot" value="-"/>
                            <input type ="hidden" name = "id" value="{{i[4]}}"/>
                          <button type="submit" class="btn btn-outline-danger btn-sm">nie lubie</button>
                          </form>

                      </div>
                  </div>
                </td>                                   
            </tr>
            {%endfor%}
              

    </table>


        </div>


    </div>
    {%endblock%}
    