{% extends 'base.html' %}
    
    <title>{% block title %}{% endblock %}</title>

    {% block body %}
    {%for i in logs %}
    <div>
      {{i}}
    </div>
    {%endfor%}
    {% endblock %}
    


 
    

    