<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/moj.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/dang.css') }}">
    <title>szukajkaOfert</title>
</head>
<body background="">
  <nav class="navbar navbar-expand-lg navbar-light adamnavclass">
    <div class="container-fluid">
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      
          <li class="nav-item">
            <div class='lubienielubie'>
              <div class='lubie lubienielubiech'>
                  <form action="{{ url_for('wszystkie') }}" method="post">
                    <input type ="hidden" name = "likeornot" value="+"/>
                    <input type ="hidden" name = "id" value="{{oid}}"/>
                    <button type="submit" class="btn btn-outline-success btn-sm">lubie</button>
                  </form>
                </div>
                <div class='nielubie lubienielubiech'>
                  <form action="{{ url_for('wszystkie') }}" method="post">
                    <input type ="hidden" name = "likeornot" value="-"/>
                    <input type ="hidden" name = "id" value="{{oid}}"/>
                  <button type="submit" class="btn btn-outline-danger btn-sm">nie lubie</button>
                  </form>

              </div>
              
          </div>
          </li>
        </ul>
      
        
          <a href="http://k3smain.local:30999"><button type="button" class="btn btn-primary adam">czytaj oferty</button></a>
        
        
          <form action="{{ url_for('send') }}" method="post">
            <a href="http://k3smain.local:30999"><button type="submit" value="Submit" class="btn btn-primary adam">sprawdz oferty</button></a>
          </form>
       
      </div>
    </div>
      
  </nav>


            <!-- <nav class="navbar navbar-light bg-light">
              <div class="container-fluid">
                  <div class="col-md-auto">
                  </div>

                  <div class="col-md-auto">
                        <div class="adam">
                          <form action="{{ url_for('send') }}" method="post">
                            <a href="http://127.0.0.1:5000"><button type="submit" value="Submit" class="btn btn-primary">odczytaj baze</button></a>
                          </form>
                          <a href="http://127.0.0.1:5000"><button type="button" class="btn btn-primary">czytaj oferty</button></a>
                        </div>
                    
                      
                  </div> 
              </div>
            </nav> -->
                    <div class='iframe'>
                      <iframe frameborder='0' noresize='noresize' style='background: transparent; width: 100%; height:100%;' src="{{ iframe }}" frameborder="0"></iframe>

                    </div>
                    <!-- <table class='iframe'>
                            
                            <tr>
                                <td>
                                    
                                </td>
                            </tr>

                    </table> -->

               
          
             

        


    
</body>
</html>

       
            
        
        



